:root {
  --background-origin: #ffffff;
  --basik-color: #2f303a;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --btn-second-color: #f5f4fa;
  --background-item-color: #ffffff;
  --background-items-color: #ffffff;
  --animation:  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  color: var(--background-origin);
  width: 100%;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: block;
  }
}

.site-list {
  display: flex;
  align-items: center;
}

.site-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-list__links {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-list__links::after {
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0px;
  bottom: -1px;
  opacity: 1;
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-list__link:focus, .site-list__link:hover {
  color: var(--accent-color);
}

.header__container {
  display: flex;
}

.connect {
  display: none;
}

@media screen and (min-width: 768px) {
  .connect {
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .connect__mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connect__mail {
    display: flex;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.connect__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .connect__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .connect__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .connect__ikon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .connect__ikon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: left 500ms, visibility 500ms;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover {
  color: var(--accent-color);
}

.menu-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link, .menu-link__active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link__active {
  color: #2196f3;
}

.mob-connect__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17647;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-connect__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}

.mob-social__list {
  display: flex;
}

.mob-social__item {
  display: flex;
  margin-top: 64px;
}

.mob-social__item:not(:last-child)::after {
  content: '';
  margin-left: 10px;
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__item:not(:first-child) {
  margin-left: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu.is-hidden {
  left: 100%;
}

.link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.logo-it {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}

.hero {
  background-color: var(--basik-color);
}

@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-transform: uppercase;
    max-width: 360px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
}

.hero {
  text-align: center;
}

.hero__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob/hero-480@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob/hero-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/hero-768@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/hero-768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/des/hero-1200@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/des/hero-1200@2x.jpg");
  }
}

.features {
  background-color: var(--background-item-color);
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__box:not(:first-child) {
  margin-left: 30px;
}

.features__box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 100%;
}

.features__list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 480px) {
  .features__item {
    margin-bottom: 30px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    margin: 15px;
    margin-bottom: 30px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    margin-bottom: 0;
  }
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-title {
    text-align: left;
  }
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}

.master-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.work {
  background-color: var(--background-item-color);
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__item {
  position: relative;
}

.work-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.work-box__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--background-items-color);
}

.team-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team {
  background-color: #f5f4fa;
}

.masters-list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .masters-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .masters-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.masters-list__item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .masters-list__item {
    margin-bottom: 30px;
  }
  .masters-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .masters-list__item {
    margin-bottom: 30px;
  }
  .masters-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .masters-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .masters-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .masters-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    margin-bottom: 0;
  }
}

.master-card__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}

.master-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 168px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer {
  background-color: var(--basik-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.address {
  margin-top: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-top: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    display: block;
  }
}

.address__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: var(--first-title-color);
}

.address__contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:focus, .address__contact:hover {
  color: var(--first-title-color);
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-box {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-left: 70px;
    display: block;
  }
}

.social-network {
  display: flex;
  margin-top: 20px;
}

.social-network :not(:first-child) {
  margin-left: 10px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
}

.social-network__link:focus, .social-network__link:hover {
  background-color: var(--accent-color);
}

.social-network__ikon {
  fill: currentColor;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-title {
    margin-top: 12px;
  }
}

.header__portfolio {
  border: 1px solid #ececec;
}

.main-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .main-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }
}

.main-card {
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .main-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .main-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-card {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .main-card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-card {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
  .main-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.main-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-link {
  display: flex;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 480px) {
  .main-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 480px) {
  .main-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main-link {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-link {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.main-button {
  display: flex;
  text-align: center;
  margin-right: 8px;
}

@media screen and (max-width: 399px) {
  .main-button:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 400px) {
  .main-button:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .main-button:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .main-button:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.mains-btn {
  background-color: var(--accent-color);
  color: var(--first-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mains-btn:hover, .mains-btn:focus {
  background-color: var(--btn-hover-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-btn {
  background-color: var(--btn-second-color);
  color: var(--first-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.main-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.main-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 4px;
}

.master-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.masters-list__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social__icon {
  fill: currentColor;
}

.client {
  padding-bottom: 94px;
}

.client__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .client__list {
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .client__items {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .client__items:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .client__items {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .client__items:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .client__items {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
  .client__items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client__items {
    flex-basis: calc(100% / 6 - 30px);
    margin: 15px;
    margin-bottom: 0;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
}

.client__logo {
  fill: currentColor;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: auto;
    margin-top: 0;
  }
}

.subscription-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .footer-form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-direction: row;
  }
}

.footer-form__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media screen and (max-width: 360px) {
  .footer-form__mail {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__mail {
    display: flex;
  }
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
    display: flex;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: auto;
    transform: translate(-50%, -47%) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: auto;
    transform: translate(-50%, -47%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
  }
}

.modal-form {
  margin-top: 0px;
}

.modal-input-ikon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  /* margin-bottom: 30px; */
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.btn-modal {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 30px; */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  color: var(--accent-color);
}

.btn-svg-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  /* margin-top: 30px; */
  /* width: 448px;
height: 40px; */
  margin-bottom: 10px;
}

.form-field + .form-field {
  /* margin-top: 28px; */
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-input:focus + .modal-input-ikon {
  fill: var(--accent-color);
}

.input-wrapp {
  position: relative;
  margin-top: 4px;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-area {
  margin-bottom: 20px;
}

.area {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: rgba(117, 117, 117, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.area::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.area:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-input {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label .check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check {
  fill: transparent;
}

.checkbox-input:checked + .checkbox-label .check-item {
  border: none;
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label .input-check {
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .checkbox-label::before {
  content: '';
width: 16px;
height: 15px;
border: 2px solid #000000;
border-radius: 2px;
margin-right: 7px;

}
.checkbox-input:checked + .checkbox-label::before  {
  border: none;
  background-image: url(../images/icon\ check\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: var(--animation);
} */
.checkbox-item {
  font-family: Roboto;
  text-decoration: underline;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.overlay-card {
  position: relative;
  overflow: hidden;
}

.overlay-card::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-card:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.overlay-card:hover .overlay-content {
  opacity: 1;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */