.hero {
  background-color: var(--basik-color);
  // padding-top: 200px;
  // padding-bottom: 200px;

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-transform: uppercase;
    max-width: 360px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
}
.hero {
  text-align: center;
}
.hero__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
