.master-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.masters-list__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social__item:not(:first-child) {
  margin-left: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
.social__icon {
  fill: currentColor;
}
