.team {
  background-color: var(--background-items-color);
}

.team-title {
  @media screen and (min-width: 1200px) {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 30px;
}
.team {
  background-color: #f5f4fa;
}

.masters-list {
  margin: 0;
  padding: 0;
  @media screen and (min-width: 480px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.masters-list__item {
  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
  }
}

.master-card__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}
.master-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.card-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 168px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #ffffff;
}
