.header__portfolio {
  border: 1px solid #ececec;
}

.main-list {
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;
  // margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 0;
  }
}
.main-card {
  // flex-basis: calc(100% / 3 - 30px);
  // margin: 15px;
  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
    margin-top: 0;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.main-link {
  display: flex;
  justify-content: center;
  list-style: none;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.main-button {
  display: flex;
  text-align: center;
  margin-right: 8px;

  @media screen and (max-width: 399px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 400px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    &:nth-child(-n + 3) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.mains-btn {
  background-color: var(--accent-color);
  color: var(--first-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.main-btn {
  background-color: var(--btn-second-color);
  color: var(--first-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
  }
}
.main-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.main-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 4px;
}
