.subscription {
  // margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: auto;
    margin-top: 0;
  }
}

.subscription-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
}
