.modal {
  position: relative;
  // top: 50%;
  // left: 50%;
  padding: 40px;
  // transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // min-width: 528px;
  // width: 90vw;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: auto;

    transform: translate(-50%, -47%) scale(1);
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: auto;

    transform: translate(-50%, -47%) scale(1);
  }
  @media screen and (min-width: 1200px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
  }
}
.modal-form {
  margin-top: 0px;
}
.modal-input-ikon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  /* margin-bottom: 30px; */
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.btn-modal {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 30px; */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}
.btn-svg-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
